*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

#body{
    background-image: url("./Images/background1.jpg"); 
    background-size: 1440px 4000px;
    background-repeat: no-repeat;

}
.nav-bar, nav{
    display: flex;
    justify-content:space-between;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 17%;
    padding-right: 2%;
    color: black;
    
    
    
}
.nav-items{
    display: flex;
    padding-right: 2%;
    padding-left: 18%;
    
    
}
.nav-items, a{
    text-decoration: none;
    margin-left: 1rem;
    margin-top: 0.2rem;
    color: black;

}
.intro{
    display: flex;
    justify-content: space-evenly;
    color: black;
    margin-top: 3rem;
}
#mainImage{
    border-radius: 50%;
}
#us{
    background-color: rgba(0, 0, 0, 0.4);
    max-width: 70%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 25%;
    text-align: center;
}
#we{
    background-color: rgba(0, 0, 0, 0.4);
    max-width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center; 
    
}
#W{
    max-width: 50%;
}
.work{
    color: black;
    margin-top: 3rem;
    padding-left: 17%;
}
#first{
    color: black;
    margin-top: 1rem;
}
#second{
    color: black;
    margin-top: 1rem;
}
#third{
    color: black;
    margin-top: 1rem;
}
#fourth{
    color: black;
    margin-top: 1rem; 
}